
/* 
    Created on : 18/12/2018, 14:07:59
    Author     : Marron
*/

*{
    -fx-primary:#00aced;
    -fx-secondary:white;
    -fx-primarytext: black;
}

.root{
    -fx-background-color: -fx-primary;
}

.glyph-icon{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 14px;
    -jfx-focus-color: -fx-secondary;
}

.button{
    -fx-text-fill: -fx-primarytext;
}

/*login screen */
.login-button{
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-primarytext;
    -fx-border-radius: 20px; 
}

.login-button:hover{
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-background-radius: 20px; 
}
    

.text-field{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 14px;
    -jfx-focus-color: -fx-secondary;
}
